KERNEL_ARCH_CFLAGS= -g
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/cpu/gdt.o \
$(ARCHDIR)/cpu/lgdt.o \
$(ARCHDIR)/cpu/interrupts.o \
$(ARCHDIR)/cpu/idt.o \
$(ARCHDIR)/cpu/isrs.o \
$(ARCHDIR)/cpu/irq.o \
$(ARCHDIR)/cpu/sys_info.o \
$(ARCHDIR)/cpu/port.o \
$(ARCHDIR)/mem/paging.o \
$(ARCHDIR)/mem/pmm.o \
$(ARCHDIR)/mem/page.o \
$(ARCHDIR)/mem/vmm.o \
