KERNEL_ARCH_CFLAGS= -g
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/cursor.o \
$(ARCHDIR)/port.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/lgdt.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isrs.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/shell.o \
$(ARCHDIR)/vmm.o \
$(ARCHDIR)/pmm.o \
