KERNEL_ARCH_CFLAGS= -g
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/port.o \
$(ARCHDIR)/drivers/tty.o \
$(ARCHDIR)/drivers/keyboard.o \
$(ARCHDIR)/drivers/shell.o \
$(ARCHDIR)/drivers/cursor.o \
$(ARCHDIR)/drivers/pit.o \
$(ARCHDIR)/interupts/gdt.o \
$(ARCHDIR)/interupts/lgdt.o \
$(ARCHDIR)/interupts/interrupts.o \
$(ARCHDIR)/interupts/idt.o \
$(ARCHDIR)/interupts/isrs.o \
$(ARCHDIR)/interupts/irq.o \
$(ARCHDIR)/mem/vmm.o \
$(ARCHDIR)/mem/pmm.o \
